@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h1>Welcome To Friend Zone!</h1>
<br />
<p>
    We love playing boardgames and love playing with new people! With FriendZone you can see if there are any boardgame meet ups 
    around the Austin, TX area, whether you are in North, Central, or South Austin! Sign in to create a meet up or to edit one you've
     already created.
</p>
<p>
    We hope you enjoy the FriendZone!!
</p>