@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Welcome To Friend Zone!</h1>
<br />
<p>
	We decided to make this app as our final porject because we're a group of loners. 
	So we figured that we'd make an app for all the introverts out there!
</p>
<br />


