@{
	ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	<a href="https://twitter.com/HailTheSianvar">Alex P Twitter</a> <br />
	<a href="https://github.com/APonce24">Alex P GitHub </a> <br />
	<a href="https://github.com/SergAgui">Sergio A GitHub</a> <br />
	<a href="https://twitter.com/TheMechaSerg">Sergio A Twitter</a> <br />
	<a href="https://github.com/Briexmac">Non Social Media User </a>
</address>


