<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		body {
			font: 20px, Abril FatFace, cursive;
			line-height: 1.8;
			color: #f5f6f7;
			background-color: dimgrey;
		}

		img {
			display: inline-block;
			height: 100%;
			width: 100%
		}

		p {
			font-size: 16px;
		}

		.margin {
			margin-bottom: 45px;
		}

		.navbar {
			background-color: black;
			width: 100%;
			border: 0;
			border-radius: 0;
			margin-bottom: 0;
			font-size: 15px;
			letter-spacing: 5px;
			align-content: center;
		}

		.navbar-nav li a:hover {
			color: rosybrown !important;
		}
		/* unvisited link */
		a:link {
			color: rosybrown;
		}

		/* visited link */
		a:visited {
			color: rosybrown;
		}

		/* mouse over link */
		a:hover {
			color: rosybrown;
		}

		/* selected link */
		a:active {
			color: rosybrown;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	<!-- Navbar -->
	<nav class="navbar navbar-default">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a asp-area="Home" asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a asp-area="CentralLocations" asp-controller="CentralLocations" asp-action="Index">Central Locations</a></li>
					<li><a asp-area="NorthLocations" asp-controller="NorthLocations" asp-action="Index">North Location</a></li>
					<li><a asp-area="SouthLocations" asp-controller="SouthLocations" asp-action="Index">South Location</a></li>
					<li><a asp-area="Home" asp-controller="Home" asp-action="About">About</a></li>
					<li><a asp-area="Home" asp-controller="Home" asp-action="Contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<partial name="_CookieConsentPartial" />
	<partial name="_LoginPartial" />

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2018 - GroupApp</p>
		</footer>
	</div>

	<environment include="Production">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>
	@RenderSection("Scripts", required: false)
</body>
</html>